* {
    box-sizing: border-box;
}

body, 
html
{
    background-image: url("https://www.ppt-backgrounds.net/images/patriotic-star--hd-atsmap--keynote-ppt-templates.jpg");
    background-position: center;
}

/*general element styles*/

p {
    font-size: large;
}

li,
.election-day, #btn-text {
    color: #fff;
}

h2,
.website-link,
p {
    color: moccasin;
}

h3 {
    color: silver;
}

/* home page */

#address {
    border: 3px solid #5573d8;
}

#address-form {
    margin: 20px;
}

#address-label {
    color: #fff;
    font-weight: bold;
    font-size: x-large;
}

/* buttons */

.scopeBtn:hover,
#voting-search:hover,
#representative-btn:hover {
    background-color: lightskyblue;
}

.scopeBtn:active {
    background-color: lightslategray;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

#voting-search,
#representative-btn {
    height: 80px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5573d8;
    border: none;
    box-shadow: 0px 9px #999;
    margin: 15px
}

#voting-search:active,
#representative-btn:active {
    background-color: lightslategray;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.scopeBtn,
#registerBtn {
    height: 40px;
    width: 80px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #5573d8;
    border: none;
    box-shadow: 0 5px #999;
}

/*modal styles*/

.modal-card-head,
.modal-card-foot {
    background-color: #0971f8;
}

#party,
#phone,
#socialOne,
#socialTwo,
#registerBtn:hover {
    color: lightseagreen;
}

.modal-card-title {
    color: gold;
}

#voting-title {
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
}

.news-header {
    color: slategray;
    font-size: x-large;
    border-bottom: solid 1px slategray;
    padding: 10px 10px 0 10px;
    text-align: center;
}

.short-break {
    line-height: 5px;
}

.article-title {
    text-align: center;
    padding: 5px;
}

.article-link {
    color: lightseagreen;
}

#error-text {
    color: black;
}

/*representatives page*/

.candidate-scope {
    margin: auto;
    text-align: center;
}

#select-scope {
    color: #fff;
    font-weight: bold;
    font-size: larger;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rep-container {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    width: 100%
}

.rep-li, .vacant-li {
    list-style: none;
    padding: 5px;
    text-align: center;
    margin: auto;
}

.rep-li:hover,
.website-link:hover {
    cursor: pointer;
    border-color: lightgray;
    color: lightskyblue;
    font-weight: bold;
}

.rep-info {
    padding-bottom: 15px;
}

/*election page*/

.election-header,
.voter-info {
    padding: 20px 0;
    font-size: x-large;
    font-weight: bold;
}

.election-header:hover {
    cursor: pointer;
    color: lightskyblue;
}

.election-footer,
.navbar-item {
    text-align: center;
}

.voter-footer {
    width: 90%;
    margin: auto;
    text-align: center;
}