/* * {
    box-sizing: border-box;
} */



   html, body{
       width: 100%;
       height: 100%;
       background-color: lightgrey;
   }

   /* #enter-your-address { */
    body {   
    height: 100%;
       width: 100%;
       background-size: auto;
       background-position: center center;
       background-image: url("https://www.ppt-backgrounds.net/images/patriotic-star--hd-atsmap--keynote-ppt-templates.jpg")
       ;
   }

   #address-label {
       color: white;
       font-weight: bold;
       font-size: medium;
       
   }

   #buttons-bottom {
    position: absolute;
    bottom: 2%;
    width: 100%;
    
   }
   .scopeBtn {
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:slateblue;
    border: none;
    box-shadow: 0 2px #999;
   }

   .scopeBtn:hover {
    background-color: lightskyblue;
   }

.scopeBtn:active {
    background-color: lightslategray;
box-shadow: 0 1px #666;
transform: translateY(1px);
}

   #voting-search {
    height: 80px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:slateblue;
    border: none;
    box-shadow: 0 9px #999;

   }
   #voting-search:hover {
background-color: lightskyblue;
   }

#voting-search:active {
    background-color: lightslategray;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

  
   #representative-btn {
    height: 80px;
    width: 150px;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color:slateblue;
    border: none;
    box-shadow: 0 9px #999;

}
#representative-btn:hover {
    background-color: lightskyblue;
}

#representative-btn:active{
background-color: lightslategray;
box-shadow: 0 5px #666;
transform: translateY(4px);
}


#select-scope {
    color: white;
    font-weight: bold;
    font-size: medium
}

p {
color: moccasin;
/*P tag is used becuase I cannot seem to modify results being returned from apis without being as vauge as possible with scope of selectors affecting modals as well regardless of conflicting selectors*/
}
li {
    color: white;
}

#modal-name-plate {
    background-color: slateblue;
    
}

#party, #phone, #socialOne, #socialTwo {
    color: lightseagreen;
}
#modal-card-background {
    background-color:white;
}

#modal-card-foot{
    background-color: slateblue;
}

#modal-card-title  {
    color: gold;
}

#voting-title {
    color: white;
    font-weight: bold;
    font-size: medium
}
/* This text color will not change */
#election-name {
    color: red ;
}
h2 {
    color:silver;
}
h3 {
    color: silver;
}

#registerBtn {
    margin-left: 1%;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: green;
    border: none;
    box-shadow: 0 5px #999;
   }

   #registerBtn:hover {
    background-color: lightseagreen;
   }

#registerBtn:active {
    background-color: lightslategray;
box-shadow: 0 4px #666;
transform: translateY(3px);
}
/* .voter-info {
    /*How do I move this section to the bottom of the page without stacking on top of itself  */


.short-break {
    line-height: 5px;
}

.article-title {
color: green;
}

.article-link {
color: red;
}

